// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.title {
  color: red;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}


.card-banner {
  display: flex;
  justify-content: center;
  height: 180px;
  align-items: center;
  background-size: cover;
  padding: 60px;
  color: black;
  font-size: 24px;
  font-weight: bold;
  border-radius: 5px;
  margin-bottom: 10px;
  flex-direction: column;
}

.card-banner img {
  height: 150px;
  object-fit: cover;
}
